<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Ascii Art GeneratorS</title>
</head>
<body>
    <div>
        <header>
            <h1>Ascii Art Generator</h1>
        </header>
        <main>
            <section>                
                <form action="ascii-art" method="post">
                    <textarea name="text" id="text" placeholder="Enter Text"></textarea><br>
                    <select name="banner" id="banner">
                        <option value="standard">Standard</option>
                        <option value="shadow">Shadow</option>
                        <option value="thinkertoy">Thinkertoy</option>
                    </select>
                    <input type="submit" name=""submit value="Submit">
                </form>
            </section><br>

            <section>
                <pre>{{.}}</pre>
            </section>

        </main><br>

        <footer>
            <p>&copy; 2026 Learn2earn </p>
        </footer>
    </div>
</body>
</html>